@import url(../vendor/normalize.css);
@import url(../fonts/Inter/inter.css);
@import url(../block/page/page.css);
@import url(../block/content/content.css);
@import url(../block/header/header.css);
@import url(../block/profile/profile.css);
@import url(../block/elements/elements.css);
@import url(../block/element/element.css);
@import url(../block/footer/footer.css);
@import url(../block/popup/popup.css);
@import url(../block/popup/_open/popup_open.css);
@import url(../block/element/__like/_active/element__like_active.css);
@import url(../block/popup/__error/popup__error.css);
@import url(../block/popup/__error/_active/popup__error_active.css);






