@import url(../popup-photo/__title/popup-photo__title.css);
@import url(../popup-photo/__full/popup-photo__full.css);
@import url(../popup-photo/__content/popup-photo__content.css);
@import url(../popup-photo/__close/popup-photo__close.css);

.popup-photo {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   


}